.movieScreen {
  margin-top: 75px;
}

.movieScreen::-webkit-scrollbar {
  overflow-y: hidden;
}

.movieScreen__container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 90%;
  margin: auto;
  gap: 50px;
}

.movieScreen__container img {
  width: 300px;
}

.movieScreen__details {
  display: flex;
  flex-direction: column;
}

.movieScreen__details h1 {
  color: white;
  font-size: 2.5rem;
  border-bottom: 2px solid gray;
  padding-bottom: 10px;
  padding-left: 10px;
}

.movieScreen__details h1 span {
  font-size: 18px;
}

.movieScreen__details p {
  color: white;
  width: 90%;
  margin: 10px 20px;
  font-size: 18px;
}

.movieScreen__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 15px;
  gap: 15px;
}

.cast__carousel {
  display: flex;
  height: fit-content;
  width: 700px;
  padding-bottom: 10px;
  overflow-x: scroll;
  user-select: none;
}

.cast__carousel::-webkit-scrollbar {
  background-color: #111;
  height: 10px;
}

.cast__carousel::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 18px;
}

.castCard {
  padding: 0 20px;
  height: fit-content;
  text-align: center;
}

.castCard img {
  width: 150px;
}

.castCard h2 {
  font-size: 16px;
  color: white;
}

.castCard span {
  font-size: 14px;
  color: darkgrey;
  height: fit-content;
}

.btn--castCrew {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: 0px;
  left: 0px;
}

.btn--castCrew button {
  border: none;
  background-color: gray;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  line-height: 1;
  cursor: pointer;
  transition: all .5s;
}

.btn--castCrew button:hover {
  transform: scale(1.08);
}

.btn--active {
  background-color: red !important;
}

@media (max-width: 1024px) {
  .movieScreen {
    margin-bottom: 50px;
  }

  .movieScreen__container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .movieScreen__info {
    gap: 25px;
  }

  .movieScreen__details {
    width: 90vw;
  }

  .cast__carousel::-webkit-scrollbar {
    display: none;
  }

  .castCard img {
    width: 125px;
  }

}

@media (max-width: 600px) {
  .cast__carousel {
    width: 90vw;
  }

  .movieScreen__details h1 {
    font-size: 2rem;
  }

  .movieScreen__container {
    width: 100%;
  }

  .movieScreen__details p {
    margin-left: 0;
    width: 100%;
    font-size: 16px;
  }

  .btn--castCrew {
    flex-direction: row;
  }

  .movieScreen__info {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 375px) {
  .cast__carousel {
    width: 90vw;
  }

  .movieScreen__details h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 320px) {
  .movieScreen__container>img {
    width: 250px;
  }

  .movieScreen__details h1 {
    font-size: 1.4rem;
  }

  .movieScreen__details h1 span {
    font-size: 12px;
  }

  .movieScreen__container {
    width: 100vw;
  }
}