ul,
li {
  list-style: none;
}

.signUpScreen {
  max-width: 350px;
  padding: 30px 20px 40px;
  margin: auto;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 12px;
  margin-top: -100px;
}

.signUpScreen>form {
  display: grid;
  flex-direction: column;
  justify-content: center;
}


.signUpScreen>form>h1 {
  text-align: left;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.signUpScreen>form>h1>svg {
  border-radius: 50%;
  margin-right: 5px;
}

.signUpScreen>form>h1>svg:hover {
  background-color: #e50914;
}

.signUpScreen>form>input {
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
}

.signUpScreen>form>button {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
}

.signUpScreen__gray {
  color: gray;
}

.signUpScreen>form>h4 {
  text-align: left;
  margin-top: 25px;
}

.signUpScreen__link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.error__input {
  border: 4px solid #e50914 !important;
  transition: all .2s;
}

.error__label {
  color: #e50914;
  font-size: 1rem;
}

.password__req ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.password__req ul li {
  transition: all 0.2s;
  font-size: 13px;
}

.password__req ul li span {
  font-size: 16px;
}

.error {
  color: #e50914;
}

.correct {
  color: green;
}

@media (max-width: 450px) and (orientation: landscape) {
  * {
    display: none;
  }
}

@media (max-width: 768px) {
  .signUpScreen {
    padding: 15px 20px 25px;
    margin-top: -50px;
    max-width: 400px;
  }

  .signUpScreen>form>h1 {
    width: 360px;
    font-size: 1.5rem;
  }

  .signUpScreen>form>input {
    width: 100%;
    height: 35px;
  }

  .signUpScreen>form>h4 {
    margin-top: 15px;
    font-size: 0.9em;
  }

  .signUpScreen>form>button {
    margin-top: 15px;
    padding: 10px 14px;
    font-size: 0.8rem;
  }

  .password__req ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .password__req ul li {
    font-size: 10px;
  }

  .password__req ul li span {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .signUpScreen {
    padding: 10px 15px 20px;
    margin-top: -40px;
    max-width: 360px;
  }

  .signUpScreen>form>h1 {
    width: 330px;
  }
}

@media (max-width: 375px) {
  .signUpScreen>form>h1 {
    width: 300px;
    margin-bottom: 15px;
  }

  .password__req ul li span {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .signUpScreen>form>h1 {
    width: 260px;
  }

  .password__req ul li {
    font-size: 8px;
  }

  .password__req ul li span {
    font-size: 10px;
  }
}