.navbar {
  position: fixed;
  top: 0;
  padding: 10px;
  width: 100%;
  height: 50px;
  z-index: 100;

  /* Animaciones */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__contents {
  display: flex;
  justify-content: space-between;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  position: fixed;
  top: 10px;
  left: 0;
  width: 125px;
  object-fit: contain;
  padding-left: 20px;
  cursor: pointer;
  z-index: 100;
}

.nav__avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.nav__details {
  display: flex;
  justify-content: center;
}

.nav__links {
  display: flex;
  margin-left: 150px;
  gap: 25px;
}

.nav__links>a {
  text-decoration: none;
  color: white;
}


.nav__dropdown:nth-child(3) {
  position: absolute;
  left: 310px;
}

.nav__dropdownButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  color: white;
  font-size: 15px;
  margin-top: 2.5px;
}


.nav__dropdownLinks {
  margin-top: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 5px 5px;
  display: none;
  background-color: #111;
  border-radius: 8px;
  width: fit-content;
}

.nav__dropdownLinks>a {
  text-decoration: none;
  color: white;
  padding: 8px 10px;
}

.nav__dropdownLinks>a:hover {
  text-decoration: underline;
  background-color: rgb(68, 68, 68);
}

.nav__dropdown:hover .nav__dropdownLinks {
  display: grid;
}

.nav__dropdown:hover svg {
  transition: all 0.5s;
  animation: rotate 0.2s linear forwards;
}

.nav__search {
  position: absolute;
  right: 60px;
  color: white;
  font-size: 26px;
}

.nav__search svg {
  vertical-align: top !important;
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

@media (max-width: 768px) {
  .nav__dropdownLinks {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: fit-content;
  }
}

@media (max-width: 600px) {
  .nav__dropdownLinks {
    position: absolute;
    left: 50px;
  }
}

@media (max-width: 450px) {

  .nav__dropdownLinks {
    left: 30px;
  }

  .nav__dropdownLinks>a {
    padding: 3px 5px;
    height: fit-content;
    font-size: 14px;
  }
}


@media (max-width: 375px) {
  .nav__dropdownLinks {
    margin-top: 15px;
    left: 10px;
  }


}

@media (max-width: 320px) {
  .nav__links {
    font-size: 12px;
    margin-left: 130px;
    margin-top: 10px;
    gap: 10px;
    align-items: baseline;
  }

  .nav__links>a {
    font-size: 14px;
  }

  .nav__dropdownButton {
    font-size: 14px;
  }

  .nav__dropdownLinks {
    left: 10px;
  }

  .nav__dropdownLinks>a {
    font-size: 13px;
  }
}