.rating {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating__num {
  position: absolute;
  font-size: 40px;
  font-weight: 800;
  color: white;
}

.rating__num span {
  font-size: small;
  vertical-align: super;
}

@media (max-width: 768px) {
  .rating__num {
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  .rating svg {
    width: 100px;
  }
}

@media (max-width: 450px) {
  .rating svg {
    width: 100px;
  }
}